/* layout */
html{
    &:not(.touchmode){
        ::-webkit-scrollbar {width: 10px;}
        ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
        ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}
    }
}

.page_wrap{
    &.center_form_wrap{}
}
.center_form_inner{}
.center_form_container{}

.header_wrap{}
.hgroup_wrap{}
.hgroup_util_block{}
.hgroup_util_list{
    > li{
        &:last-of-type{}
    }
}
.util_login_copy{
    strong{}
}
.util_login_obj{}
.util_login_key{}
.util_login_value{}

.btn_login_box{}

.nav_item_list{
    > li{

    }
}
.nav_item{
    &:hover,
    &.active{
        &:after{}
        .nav_item_text{}
    }
    &:after{}
}
.nav_item_text{}

.middle_wrap{
    &.main_wrap{}
    &.sub_wrap{}
}

.sub_title_wrap{}
.sub_title{}
.breadcrump_list_wrap{}
.breadcrump_list{
    > li{
        &:last-of-type{
            &:after{}
            .breadcrump_menu{}
        }
        &:after{}
    }
}
.breadcrump_menu{}

.sub_contents_wrap{}

.board_field_container{}
.board_form_cols{}
.board_btn_cols{}

.board_inner_row{}
.board_inner_row:last-of-type{}
.board_each_box{}
.board_label_row{}
.board_label{}
.board_form_row{}
select.board_select{}
input.daterange{}
input.board_input{}
.btn_props_group{}
.btn_props{
    &.active{}
}
.btn_board_submit{
    &.type2{
        .btn_board_submit_text{}
    }
}
.btn_board_submit_text{}

.board_list_container{}
.board_fraction_row{}
.board_fraction_para{
    strong{}
}

.list_table_wrap{}
table.list_table{
    thead{
        th{
            &:last-of-type{}
        }
    }
    tbody{
        td{
            &:last-of-type{}
            &.has_item{

            }
            &.nodata_td{}
        }
    }
}
.list_thtext{}
.list_tdtext{
    &.number{}
}
.btn_list_more{}
.nodata_para{}


/* paging */
.paging_wrap {margin-top:64px; display:flex;justify-content: center; align-items: center;gap:8px;}
.paging_control,
.paging_number{display: inline-flex;  align-items:center; justify-content:center; width: 40px;height: 40px;border:1px solid #ddd;border-radius:8px;background: #fff;font-size:12px;}
.paging_number_group{display:flex;align-items: center;gap:8px;justify-content: center}

.paging_number{@include rubik; color:#999; font-size:16px;
    &.active,
    &:focus,&:hover{background:$primary; color:#fff;font-family: 'Rubik Bold';border-color:$primary}
    &.active{cursor: default;}
}

.paging_control{
    flex:0 0 40px;
    &:before{display:block;content:'';width:15px;height:15px; background-repeat:no-repeat; background-size:100% auto; background-position:0 -15px;}
    &.first:before{background-image:url("../images/ico_paging_first.png");}
    &.prev:before{background-image:url("../images/ico_paging_prev.png");}
    &.next:before{background-image:url("../images/ico_paging_next.png");}
    &.last:before{background-image:url("../images/ico_paging_end.png");}

    &.disabled{
        cursor: default;
        &:before{background-position:0 0 !important;}
    }
    &:focus,
    &:hover{
        &:before{
            background-position:0 100%
        }
    }
}
/* // paging */