/* layout */
html{
    &:not(.touchmode){
        ::-webkit-scrollbar {width: 10px;}
        ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
        ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}
    }
}

.page_wrap{
    &.center_form_wrap{}
}
.center_form_inner{}
.center_form_container{}

.header_wrap{}
.hgroup_wrap{}
.hgroup_util_block{}
.hgroup_util_list{
    > li{
        &:last-of-type{}
    }
}
.util_login_copy{
    strong{}
}
.util_login_obj{}
.util_login_key{}
.util_login_value{}

.btn_login_box{}